*{
    margin:0;
    padding:0;
}

body{
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* body{
    : hsl(233, 12%, 13%);
} */

h1,h2,h3,h4,h5{
    font-weight: 700;
}


p{
    font-weight: 400;
    font-size: 14px;
}

nav{
   padding:25px 0; 
}

.navi-bar li{
    margin-left:15px;
    list-style: none;
}

.navi-bar a{
    text-decoration: none;
    color:hsl(228, 39%, 23%);
}

.nav-btn{
    background: hsl(12, 88%, 59%);
    border-radius: 20px;
    padding:12px 16px;
}

.nav-btn a{
    text-decoration: none;
    color:#fff;
}

main{
    background-image: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position-x:right;
    background-position-y: bottom;
}

#mobile-navi{
    height:265px;
    width:250px;
    position: relative;
    left:12%;
    display: flex;
    background: hsl(0, 0%, 98%);
    justify-content: center;
    align-items: center;
}

.hero-section{
    margin:30px 0;
    padding: 18px 0;
}

.hero-content{
    width:50%;
    height: 100%;
    position: relative;
    left:-5%;
    padding-right:5rem;
}

.hero-img{
    width:45%;
}

.hero-title{
    font-size: 2.8rem;
    padding-bottom: 15px;
}

.hero-txt{
    font-weight: 300;
    color:hsl(228, 39%, 23%);
    padding-right: 8rem;
}

.hero-btn{
    background: hsl(12, 88%, 59%);
    color:#fff;
}

.hero-btn a{
    text-decoration: none;
    color:#fff;
}

.big-txt{
    padding-right:6rem;
    width:47%;
}

.txt-title{
    font-size: 2.3rem;
}

.txt-text{
    /* padding-right: 4rem; */
    margin-right: 1rem;
}

.round-circle{
    padding:0 20px;
    margin: 0px 20px;
    background:  hsl(12, 88%, 59%);
    border-radius:20px;
    height:30px;
    color:#fff;
}

.list-txtarea{
    width:50%;
    padding-left:4rem;
}

.list-section{
    display:flex;
}

.profile-container{
    position: relative;
    margin: 30px 0;
    padding: 20px 0;
}

.testimonials-area{
    overflow-x: hidden;
}

.profile{
    position:relative;
    z-index:1;
}

.arrow-back{
    width:40px;
    position:absolute;
    z-index: 2;
    left:1%;
    bottom: 38%;
}

.arrow-forward{
    width:40px;
    left:95%;
    position:absolute;
    z-index: 2;
    bottom: 38%;

}

.profile-pic{
    margin:0 auto;
    position: absolute;
    z-index:3;
    bottom: 79%;
    left: 36%;
    width:82px
}

.testi-btn{
    background: hsl(12, 88%, 59%);
    padding: 12px 14px;
    border-radius: 20px;
    color: #fff;
    margin: 20px 0;
    outline: none;
}

footer{
    background:  hsl(233, 12%, 13%);
    color:#fff;
}


.txt-info{
    background: hsl(0, 0%, 98%);
    height: 170px;
    width:350px;
    margin:0 17px;
    padding:0 32px; 
    text-align: center;
    position: relative;
    z-index: 2;
    padding-top:42px;
}

.profile-title{
    font-size: 1.25rem;
}

.profile-info{
    font-size: 12px;
}

.last-section{
    background-color: hsl(12, 88%, 59%);
    background-image: url(./images/bg-simplify-section-desktop.svg);
    height:170px;
    width:100%;
    color:#fff;
    display: flex;
    align-items: center;
}

.final-title{
    margin-right: 1.2rem;
}

.final-btn{
    background: #fff;
    padding: 10px 19px;
    height: 50px;
    border-radius: 20px
}

.foot-logo{
    filter: brightness(0) invert(1);
    height: 22px;
    width: 100px;
    margin-bottom: 4rem;
}

.foot-box{
    display:grid;
    grid-template-columns: 2fr 3fr 3fr 3fr;
    padding: 4rem 0;
}

.footbox-corner{
    display:flex;
    flex-direction: column;
}

.footer-navbar{
    display: flex;
    justify-content: space-between;
}

.footer-formbox{
    position: relative;
    left: 50%;
}

.footer-formbox input{
    padding: 12px 15px;
    border-radius: 20px;
    width: 250px;
}

.formbox-btn{
    background: hsl(12, 88%, 59%);
    color: #fff;
    margin-left: 5px;
    padding: 13px 17px;
    border-radius: 20px;
}


@media(max-width:500px){
    main{
        background-image: url(./images/bg-tablet-pattern.svg);
        background-position-y: top;
        background-size: 120%;
        background-position-x: right;
    }

    header{
        display:none;
    }

    #mobile-navi{
        display: none;
    }

    .nav-link{
        text-align: center;
        margin-bottom: 12px;
    }

    #mobile-ul{
        padding-right: 3rem;
        padding-top: 3rem
    }

    .close{
        display:none;
    }

    .hero-section{
        margin:10px 0;
        padding: 8px 0;
    }

    .hero-img{
        width:90%;
        margin-left:15px;
    }

    .hero-content{
        margin:0;
        width:100%;
        text-align: center;
        padding: 0 20px;
        position: inherit;
    }

    .hero-title{
        font-size: 2rem;
    }

    .hero-txt{
        padding-right: 0;
    }

    .txt-title{
        font-size: 1.8rem;
    }

    .big-txt{
        width:100%;
        padding:20px 30px;
        text-align: center;
    }

    .list-txtarea{
        width:100%;
        padding:0;
        text-align:center;
    }

    .round-circle{
        margin: 0;
        padding: 0 15px;
        position: relative;
        left: 5%;
    }

    .list-txt{
        text-align: start;
        margin-right: -28px;
        position: relative;
        right: 10%;
    }

    .list-title{
        background: hsl(13, 100%, 96%);
        font-size: 1rem;
        padding: 8px 0;
    }

    .txt-text{
        padding: 0;
        margin:0;
    }

    .txt-info{
        height:185px;
        width:270px;
    }

    .profile{
        display: none;
    }

    #profile-01{
        display:block;
    }

    .profile-pic{
        width:75px;
        bottom:86%;
    }

    .arrow-back, .arrow-forward{
        display: none;
    }

    .manage{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .final-title{
        text-align: center;
    }

    .foot-box{
        display:flex;
        flex-direction: column-reverse;
        padding: 25px 20px;
    }

    .footer-formbox{
        left:0;
        display:flex;
    }

    .footer-navbar{
        padding:20px 25px;
    }

    .footbox-corner{
        margin:0 auto;
        display: inherit;
        flex-direction: column-reverse;
    }

    .social-icons{
        margin-bottom: 4rem;
    }
}
